@tailwind base;
@tailwind components;
@tailwind utilities;


.slide{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));


    
    
}
.slide1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./assets/breno-assis-r3WAWU5Fi5Q-unsplash.jpg');
}

.slide2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./assets/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg');
}
.slide3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./assets/sean-pollock-PhYq704ffdA-unsplash.jpg');
}